.not-found{
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.not-found p{
  margin-top: -60px;
  color: var(--word-color);
  text-transform: capitalize;
} 