.edit-position{
  width: 470px;
  height: 370px;
  background-color: white;
  padding: 24px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.edit-position-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.edit-position-header h2{
  margin: 0;
  padding: 0;
  color: var(--word-color);
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}

.edit-position-body{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.edit-position-body .box{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.buttons{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 25px;
}

.buttons .squad label , 
.buttons .squad span{
  display: none;
}

.edit-position-body .box label{
  display: none;
}