.header-cell{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--natural-4);
}

.header-cell + span{
    font-size: 10px;
    color: var(--natural-3);
}

.id-cell{
    font-size: 13px;
    font-weight: bold;
    color: var(--natural-alpha-1);
}

.normal-cell{
    font-size: 13px;
    font-weight: 500;
    color: var(--natural-alpha-1);
    text-transform: capitalize;
}

.status-cell{
    font-size: 13px;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--active-main);
    background-color: var(--active-background);
    padding: 5px 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.status-cell-warning{
    color: var(--warning-main);
    background-color: var(--warning-background);
}

.status-cell-error{
    color: var(--error-main);
    background-color: var(--error-background);
}

.next-arrow{
    width: 28px;
    height: 28px;
    color: var(--natural-1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F2F6;
    border-radius: 4px; 
}

.colored-cell{
    font-size: 13px;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--active-main);
    background-color: var(--active-background);
    padding: 5px 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.recruitment-status-cell{
    font-size: 13px;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--active-main);
    background-color: var(--active-background);
    padding: 5px 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.recruitment-status-cell-error{
    color: var(--error-main);
    background-color: var(--error-background);
}

.recruitment-status-cell-warning{
    color: var(--warning-main);
    background-color: var(--warning-background);
}

.vacancy-status-cell{
    font-size: 13px;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--active-main);
    background-color: var(--active-background);
    padding: 5px 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.vacancy-status-cell-error{
    color: var(--error-main);
    background-color: var(--error-background);
}

.date-cell{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 13px;
    padding: 0 2px;
    color: var(--active-main);
    background-color: var(--active-background);
}