.hour-log-page{
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: var(--background-color);
    padding: 40px;
}

.hour-log-title{
    margin: 0;
    color: var(--word-color);
    margin-bottom: 30px;
    text-transform: capitalize;
}