.upload-content{
    background-color: white;
    width: 495px;
    height: 125px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 13px;
    align-items: center;
    gap: 10px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border: .1rem solid var(--border-color);
    padding: 10px;
    color: var(--natural-alpha-3);
    font-weight: 300;
}

.upload-content div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.upload-label{
    color: var(--natural-alpha-2);
    font-weight: 500;
    font-size: 14px; 
    margin-bottom: 10px;
    text-transform: capitalize;
}