.add-status{
  width: 336px;
  height: 200px;
  background: white;
  border-radius: 9px;
  padding: 24px;
}

.add-status-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}

.add-status h2{
  margin: 0;
  padding: 0;
  color: var(--word-color);
  font-size: 16px;
  font-weight: 700px; 
}

.add-status form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
}

.add-status form div:first-child{
  margin: 0;
  width: 100%;
}

.add-status form div:first-child input{
  margin-top: 0;
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px;
  padding: 10px 12px;
}

.add-status form input:last-child{
  padding: 12px 30px;
}