.confirm-pop-up{
    width: 400px;
    height: 150px;
    background-color: white;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.confirm-pop-up > p{
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    margin: 0;
    text-transform: capitalize;
    color: var(--word-color);
}


.confirm-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}