.question-page{
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: var(--background-color);
    /* background-color: red; */
    padding: 40px;
}

.question-title{
    margin: 0;
    color: var(--word-color);
    margin-bottom: 30px;
    text-transform: capitalize;
}