.submit{
    /*outer*/
    background-color: var(--primary-main);
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border: none;
    cursor: pointer;
    width: 300px;
    height: 45px;
    
    /* inner */
    color: white;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit input{
    display: none;
}