.text-field{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  gap: 6px;
}

.title{
  color: #232360;
}

.value{
  min-height: 45px;
  height: fit-content;
  width: min(233px);
  color: #768396;
  border: 1px solid #E5E5ED;
  border-radius: 9px;
  background-color: white;
  padding-left: 17px;
  display: flex;
  align-items: center;
}