.join-us-page{
  width: 100%;
  align-items: center;
  background-color: var(--background-color);
}

/********************************************* Header Section *********************************************/

.header{
  width: 100%;
  height: 90px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 10px rgb(42, 40, 40);
  z-index: 4;
  position: relative;
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo svg:first-child{
  width: 50px;
  height: 50px;
}

/********************************************* First Section *********************************************/

.first-section{
  padding: 60px 0 60px 200px;
}

.first-section > h1{
  font-size: 70px;
  font-weight: 900;
  color: var(--primary-main);
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.first-section > div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.first-section > div > div{
  color: #6D6D6D;
  font-size: 17px;
  font-weight: 700;
}

.first-section > div > div > span{
  color: var(--secondary-main);
}

/********************************************* Second Section *********************************************/

.second-section{  
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 200px;
  align-items: flex-start;
}

.second-section > div > h2{
  color: var(--primary-main);
  font-size: 25px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  position: relative;
}

.second-section > div > h2::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--secondary-main);
  left: -30px;
  top: 5px;
}

.second-section > div > p{
  color: #6D6D6D;
  font-size: 16px;
  font-weight: 400;
  line-height: 139%
}

/* error */

.error-page{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  gap: 30px;
  background-color: var(--background-color);
}