@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
  /* primary */
  --primary-main: #9900CC;
  --primary-dark: #4E1960;
  --primary-light: #D24CFF;
  --primary-white: #F8E8FF;

  /*secondary*/
  --secondary-main: #66CCCC;
  --secondary-dark: #005757;
  --secondary-light: #8DEBEB;
  --secondary-white: #E7F5F5;

  /* natural */
  --natural-1: rgba(70, 52, 75, 1);
  --natural-2: rgba(107, 93, 111, 1);
  --natural-3: rgba(126, 113, 129, 1);
  --natural-4: rgba(163, 153, 165, 1);
  --natural-5: rgba(181, 174, 183, 1);
  --natural-6: rgba(199, 194, 201, 1);
  --natural-7: rgba(199, 194, 201, 1);
  --natural-8: rgba(246, 245, 246, 1);

  /* natural alpha */
  --natural-alpha-1: rgba(70, 52, 75, 1);
  --natural-alpha-2: rgba(70, 52, 75, 0.8);
  --natural-alpha-3: rgba(70, 52, 75, 0.7);
  --natural-alpha-4: rgba(70, 52, 75, 0.5);
  --natural-alpha-5: rgba(70, 52, 75, 0.4);
  --natural-alpha-6: rgba(70, 52, 75, 0.3);
  --natural-alpha-7: rgba(70, 52, 75, 0.1);
  --natural-alpha-8: rgba(70, 52, 75, 0.05);

	/* background color */
	--background-color: #FCF6FF;

  /* active */
  --active-main: rgba(40 , 199 , 111 , 1);
  --active-background: rgba(40 , 199 , 111 , 16%);

  /* error */
  --error-main: rgba(234, 84, 85, 1);
  --error-background: rgba(234, 84, 85, 16%);

  /* warning */
  --warning-main: rgba(255 , 198 , 0 , 1);
  --warning-background: rgba(255 , 198 , 0 , 16%);

  /* word color */
  --word-color: #232360;

  /* border color */
  --border-color: #d6d6e3;
}

html {
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

body{
  font-family: 'DM Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* scroll */
::-webkit-scrollbar{
	width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical{
	background-color: var(--natural-4);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal:hover,
::-webkit-scrollbar-thumb:vertical:hover {
	background-color: var(--natural-3);
}

/* data table */
.ZjPWA{
  border-top-left-radius: 9px !important;
  border-top-right-radius: 9px !important;
}

.rdt_TableHeadRow{
  height: 60px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.rdt_TableRow{
  height: 60px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.rdt_Pagination{
  justify-content: flex-start !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  color: var(--natural-4) !important;
  height: 72px !important;
  border-bottom-left-radius: 9px !important;
  border-bottom-right-radius: 9px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.rdt_Pagination button:hover{
  background-color: transparent !important;
}

.rdt_Pagination button:disabled{
  opacity: .5 !important;
}

.rdt_Pagination button:last-of-type,
.rdt_Pagination button:first-of-type{
  display: none;
}

.rdt_Pagination > :last-child{
  margin-left: auto;
}

.rdt_Pagination::before{
  content: 'Showing';
}

/* mui */
.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  border-radius: 9px !important;
  -webkit-border-radius: 9px !important;
  -moz-border-radius: 9px !important;
  -ms-border-radius: 9px !important;
  -o-border-radius: 9px !important;
}

/* media */

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}