.status-box{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--active-background);
    color: var(--active-main);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
    padding: 5px 20px;
}

.status-box-warning{
    color: var(--warning-main);
    background-color: var(--warning-background);
}

.status-box-error{
    color: var(--error-main);
    background-color: var(--error-background);
}